/* Child Theme - Custom CSS File for Buyers to Modify */



/** web fonts **/

/**
 * @license
 * MyFonts Webfont Build ID 3041418, 2015-06-12T11:43:40-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaNeueLTStd-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-55-roman/
 * 
 * Webfont: HelveticaNeueLTStd-Md by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-65-medium/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3041418
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2e688a");

  
@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('webfonts/2E688A_0_0.eot');src: url('webfonts/2E688A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E688A_0_0.woff2') format('woff2'),url('webfonts/2E688A_0_0.woff') format('woff'),url('webfonts/2E688A_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-Md';src: url('webfonts/2E688A_1_0.eot');src: url('webfonts/2E688A_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E688A_1_0.woff2') format('woff2'),url('webfonts/2E688A_1_0.woff') format('woff'),url('webfonts/2E688A_1_0.ttf') format('truetype');}

/** end web fonts **/

body,
.main-menu ul li a {
	font-family: HelveticaNeueLTStd-Md; 
	font-weight: normal; 
	font-style: normal; 
}

h1, h2, h3, h4, h5, h6,
.property-item h4, .property-item h4 a {
	font-family: HelveticaNeueLTStd-Md; 
	font-weight: normal; 
	font-style: normal; 
}


/* ------------- header ---------------*/

#logo img {
width: 50%;
}

#logo {
text-align:left;
}

.contact-number, .contact-number .outer-strip {
margin-left: 20px;
}

#overview .property-item .price span {
background-color: #27739d;
}

#scroll-top {
background-color: #6d6e70;
}

::-moz-selection {
  background:rgba(45, 126, 153, 0.99);
  color: #fff;
  text-shadow: none;
}

::selection {
  background:rgba(45, 126, 153, 0.99);
  color: #fff;
  text-shadow: none;
}

#overview .share-networks a,
#overview .share-networks a [class^="fa-"], #overview .share-networks a [class*=" fa-"],
.about-agent h4 a:hover, .property-item h4 .about-agent a a:hover,
.property-item .property-meta span a:hover,
.contact-details .contacts-list li a:hover,
#overview .property-item .printer-icon a:hover,
#overview .property-item .printer-icon a:hover .fa,
.page-template-page-testimonials h3 {
color: #27739d;
}

#overview .share-networks a:hover,
#overview .share-networks a [class^="fa-"]:hover, #overview .share-networks a [class*=" fa-"]:hover,
.post-title a:hover {
color: #273c5f;
}


#scroll-top:hover {
background-color: #58585a;
}

#home-flexslider .slide-description {
	background: none;
	top: 145px;
	width: 650px;
	padding: 0;
}

#home-flexslider .slide-description h3 {
	font-family: HelveticaNeueLTStd-Md;
	font-weight: normal;
	font-style: normal;
	font-size: 45px;
	color: #ffffff;
	line-height: 50px;
}

.header-wrapper {
	margin-bottom: 4%;
}

.home .header-wrapper {
	margin-bottom: 0;
}

.property-item .property-meta span {
  padding-left: 30px;
}

span.bedroom,
span.bathroom,
span.garage {
  background-image: url(images/icon-bedroom.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 19px 13px;
}

span.bathroom {
  background-image: url(images/icon-bathroom.png);
}

span.garage {
  background-image: url(images/icon-garage.png);
  background-size: 20px 15px;
}

/* -------- end header ---------------*/

/* ------------- grid ---------------*/


.view-type a.grid.active .boxes, .view-type a.grid:hover .boxes, .view-type a.list.active .boxes, .view-type a.list:hover .boxes {
fill: #27739d;
}

#overview .property-item .price {
background-image: none;
background-color: #6d6e70;
}

#overview .property-item .price .status-label {
background-color: #6d6e70;
background-image: none;
}

.property-grid .property-item span,
#footer .widget ul.featured-properties li .price, ul.featured-properties li .price {
color: #6d6e70;
}

.format-image .format-icon.image,
.format-video .format-icon.video,
.format-gallery .format-icon.gallery {
background: none;
}

.post-meta {
border-bottom: none;
}

.post-meta a,
.post-title,
.post-title a,
#footer .widget ul.featured-properties li h4, #footer .widget ul.featured-properties li .property-item h4 a, .property-item h4 #footer .widget ul.featured-properties li a, #footer .widget ul.featured-properties li h4 a, .property-item h4 #footer .widget ul.featured-properties li a a, ul.featured-properties li h4, ul.featured-properties li .property-item h4 a, .property-item h4 ul.featured-properties li a, ul.featured-properties li h4 a, .property-item h4 ul.featured-properties li a a,
.widget ul li a {
color:#27739d;
}

.post-meta a:hover,
.post-title:hover,
.post-title a:hover,
.widget ul li a:hover,
#footer .widget ul.featured-properties li h4:hover, #footer .widget ul.featured-properties li .property-item h4 a:hover, .property-item h4 #footer .widget ul.featured-properties li a:hover, #footer .widget ul.featured-properties li h4 a:hover, .property-item h4 #footer .widget ul.featured-properties li a a:hover, ul.featured-properties li h4:hover, ul.featured-properties li .property-item h4 a:hover, .property-item h4 ul.featured-properties li a:hover, ul.featured-properties li h4 a:hover, .property-item h4 ul.featured-properties li a a:hover,
.about-agent h4 a:hover, {
color:#273c5f;
}

.real-btn:hover, .btn-blue:hover, .btn-grey:hover, .sidebar .widget .dsidx-widget .submit:hover, .real-btn.current, .current.btn-blue, .current.btn-grey, .sidebar .widget .dsidx-widget .current.submit, .real-btn:focus, .btn-blue:focus, .btn-grey:focus, .sidebar .widget .dsidx-widget .submit:focus, .real-btn:active, .btn-blue:active, .btn-grey:active, .sidebar .widget .dsidx-widget .submit:active {
  background-color: #273c5f;
}

.flex-control-paging,
.fa-phone {
display:none;
}

.listing-slider .flex-direction-nav a.flex-next,
.listing-slider .flex-direction-nav a.flex-prev {
background-color: #6d6e70;
}

#comments-title, #contact-form #reply-title, #respond #reply-title, .form-heading {
border-top: none;
}

#logo a, #logo img {
margin-bottom: 10px;
}

#home-flexslider .flex-direction-nav li a.flex-prev {
	background-image: url("images/arrow-slider-left-off.png");
	background-size: 45px;
}

#home-flexslider .flex-direction-nav li a.flex-prev:hover {
	background-image: url("images/arrow-slider-left-on.png");
	background-position: top left;
}

#home-flexslider .flex-direction-nav li a.flex-next {
	background-image: url("images/arrow-slider-right-off.png");
	background-position: top right;
	background-size: 45px;
}

#home-flexslider .flex-direction-nav li a.flex-next:hover {
	background-image: url("images/arrow-slider-right-on.png");
	background-position: top right;
}

.page-head,
h3.title-heading,
.post-meta span,
#post-7149 h3.post-title,
.post-7149 hr {
	display: none;
}

.listing-grid-layout .main {
	margin-top: 0;
}

.sidebar .textwidget {
  padding: 0;
  background-color: #27739d;
  background-image: url(images/flex-arrow-right.png);
  background-position: right;
  background-repeat: no-repeat;
}

.sidebar #text-11 .textwidget,
.sidebar #text-12 .textwidget {
  background-color: #f5f5f5;
  background-image: none;
}

#text-11.widget,
#text-12.widget,
iframe {
	border: none;
}

#property-carousel-two .flex-direction-nav a,
.widget_lidd_mc_widget h3 {
	background-color: #27739d;
}

.widget_lidd_mc_widget h3 {
	background-color: #27739d !important;
}

.widget_lidd_mc_widget h3 {
	color: #ffffff;
}

.sidebar .textwidget:hover,
#property-carousel-two .flex-direction-nav a:hover {
  background-color: #394041;
}

.sidebar .textwidget a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 20px;
}

.sidebar .textwidget a span {
  padding-right: 20%;
}

ul.wantedlist,
.single article ul.wantedlist {
	list-style-type: none;
	margin: 0;
}

ul.wantedlist li {
	float: left;
	padding-left: 0;
	margin-right: 10%;
	padding-bottom: 20px;
}

.clear {
	clear: both;
}

.single article ul {
	margin-left: 15px !important;
	text-transform: 
}

.inner-wrapper .hentry p {
	line-height: inherit;
}

.inner-wrapper .hentry h4 {
	line-height: 28px;
}

.page-template-page-testimonials h2,
.page-template-page-testimonials h3 {
	font-size: 20px;
}

/* -------- end grid ---------------*/

#footer .widget ul li a:hover,
#footer .widget a:hover,
#footer-bottom a:hover {
	color: #273c5f !important;
}

.mr_social_sharing a.linksalpha_link,
#post-878 h3,
#post-878 hr {
  display: none !important;
}

#hallmark img {
	height: 23px;
	float: right;
	margin: -58px 0 0 0;
	list-style: none;
	padding: 0;
}

ul#hallmark li img {
	height: 21px;
	margin-right: 20px;
}

ul#hallmark li.zoopla img {
	height: 19px;
	margin-right: 30px;
}

ul#hallmark li.prs img {
	height: 15px;
	margin-right: 30px;
}


@media (min-width: 1200px) {
	.bfglogo {
		margin-left: 30px;
	}
}

@media (min-width: 980px) {

  .page-id-856 .wpb_wrapper h1,
  .page-id-856 .wpb_wrapper h4,
  .page-id-856 .wpb_wrapper p,
  .page-id-856 .wpb_wrapper li,
  .page-template-page-testimonials #pageintro h2,
  .page-template-page-testimonials p,
  .page-template-template-agent-listing p,
  .single article p,
  .inner-wrapper .hentry p,
  .inner-wrapper .hentry h4 {
  width: 64%;
  }
}

@media (max-width: 979px) {
	.contact-number {
		text-align: right;
	}
	#home-flexslider .slide-description h3 {
		font-size: 35px;
	}
}


@media (max-width: 767px) {
	#overview .property-item .property-meta span.bedroom,
	#overview .property-item .property-meta span.bathroom,
	#overview .property-item .property-meta span.garage {
		padding-left: 40px;
		background-position: 12px 14px;
	}
	
	#overview .property-item .property-meta .add-to-fav .fa,
	#overview .property-item .printer-icon a .fa {
		margin-right: 11px;
	}
}

@media (max-width: 439px) {
	#hallmark img {
	margin-top: 0;
	float: left;
	}
	
	.advance-search .search-heading {
		font-size: 18px;
	}
}