
/* LAYOUT */
/* ----------------------------------------- */

/* GENERAL STYLES */

@font-face {
    font-family: 'socialicoregular';
    src: url('socialico-webfont.eot');
    src: url('socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico-webfont.woff') format('woff'),
         url('socialico-webfont.ttf') format('truetype'),
         url('socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arial_narrowregular';
    src: url('arial_narrow-webfont.eot');
    src: url('arial_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('arial_narrow-webfont.woff') format('woff'),
         url('arial_narrow-webfont.ttf') format('truetype'),
         url('arial_narrow-webfont.svg#arial_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.headerphone {
  position: absolute;
  width: 760px;
  text-align: right;
  margin-top: 87px;
  font-size: 15px;
}

.socialicons {
  font-family: socialicoregular;
  font-size: 60px;
}

.socialicons a:hover {
  text-decoration: none;
}



#registered {
  float: right;
  margin-right: 20px;
}

p#registered,
p input.wpcf7-form-control {
  margin-bottom: 0;
}

#copyright {
clear: both;
  float: left;
  margin-left: 510px;
  font-size: 10px;
  margin-top: -10px;
}
#credit {
  float: right;
  margin-right: 20px;
  font-size: 10px;
  margin-top: -10px;
}

.clearright {
  clear: right;
}

/* Text Selection */

::selection {
	color: #fff;
}
::-moz-selection {
	color: #fff;
}

body {
	line-height: 1.5 !important;
	color: #cccccc;
	font:14px Helvetica,Arial,sans-serif;
}

#wraper {
	background-color: #000000;
	width: 980px;
	margin: 0 auto 40px;
	padding-bottom: 0;
}


/* HEADER */

header {
	height: 125px;
}

header #logo {
	margin-top: 38px;
}

header #logo2 {
	margin-top: 38px;
	float: right;
}

header nav#main {
	height: 125px;
	float: right;
}

header nav#main ul {
	margin-left: 20px;
	height: 125px;
	line-height: 125px;
}

header nav#main li {
	display: block;
	float: left;
	padding: 0px;
	height: 125px;
	line-height: 125px;
	position: relative;
}

header nav#main li a {
	font-family:  'arial_narrowregular', sans-serif;
	font-size: 15px;
	color: #cccccc;
	display: block;
	padding: 0 20px 0 0;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-text-size-adjust:none;
	float: left;
	font-weight: normal;
}

header nav#main li.current_page_item a {
	text-decoration: none;
}

/* Dropdown */

nav#main li ul {
	display: none;
	background: #fff;
	position: absolute;
	height: auto;
	border: 1px solid #ddd;
	margin-top: 80px;
	box-shadow: 3px 3px 0px rgba(0,0,0,0.12);
	z-index: 1000;
	margin-left: 0;
}

nav#main li ul:before {
	content: "";
	height: 4px;
	position: absolute;
	top: -4px;
	left: -1px;
	background: #333;
}

nav#main li ul:after {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	top: -9px;
	left: 10px;
	background: #333;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	border-top: 5px solid #000
	border-bottom: 5px solid #333;
}

nav#main li ul li {
	float: none;
	height: 40px;
	line-height: 40px;
}

nav#main li ul li:hover {
	border-top: 0;
	margin-top: 0px;
}

nav#main li ul li a {
	font-family: Georgia, serif;	font-size: 15px;
	font-style: italic;
	text-transform: none;
	min-width: 200px;
	padding-left: 12px;
	color: #333333;
}

nav#main li ul li a:hover {
	border: none;
	margin: 0;
	text-decoration: underline;
	background: #fff;
	color: #cccccc;
}

header #headerDivider,
hr {
	height: 1px;
	background: #cccccc;
}

hr {
margin: 0 20px 20px 20px;
}

#servicespage hr {
margin: 0 0 20px 0;
}

#servicespage ul,
.margintwenty ul  {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

#servicespage ul li,
.margintwety ul li {
  margin-bottom: 20px;
}

.margintwenty {
  margin:0 20px;
}

/* SLIDER */

#sliderWraper {
	margin: 0 auto 0;
	margin-bottom: 20px;
	height: 348px;
	z-index: 900;
}

#sliderContainer {
	height: 348px;
}

#slider {
	margin: 0 auto;
	position: relative;
}

.nivo-controlNav {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.nivo-controlNav a.nivo-control {
	background: url('../images/slider-controls.png');
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	text-indent: -9999px;
	margin-right: 5px;
}

.nivo-controlNav a.nivo-control:hover {
	background-position: 0px -10px;
}

.nivo-controlNav a.active {
	background-position: 0px -20px;
}

.nivo-directionNav a.nivo-prevNav {
	background: url('../images/slider-left.png');
	display: block;
	left: 10px;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}

.nivo-directionNav a.nivo-nextNav {
	background: url('../images/slider-right.png');
	display: block;
	right: 10px;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}



/* HOME SLOGAN */

#homeSlogan {
	margin-top: 0;
	margin-bottom: 20px;
	min-height: 20px;
	height: auto;
}

#homeSlogan .whatslogan {
	margin-top: 0;
	width: 450px;
}

#homeSlogan #sloganText p {
	font-family: Georgia, serif;
	font-size: 24px;
	font-style: italic;
	line-height: 1.3;
	color: #cccccc;
}

#homeSlogan #sloganButton a {
	float: right;
}



/* HOME SERVICES/SERVICES PAGE */

#homeServices {
	overflow: hidden;
	margin-top: 10px;
}

#web h2, #graphic h2, #strategy h2,
#illustration h2, #motion h2, #mobile h2 {
	padding-left: 42px;
	height: 32px;
	line-height: 32px;
}

/* Margin for services page */

#services #web,
#services #graphic,
#services #strategy,
#services #illustration,
#services #motion,
#services #mobile {
	margin-bottom: 40px;
}

#web h2 { background: url('../images/icon-computer.png') top left no-repeat; }
#graphic h2 { background: url('../images/icon-tablet.png') top left no-repeat; }
#strategy h2 { background: url('../images/icon-chart.png') top left no-repeat; }
#illustration h2 { background: url('../images/icon-brush.png') top left no-repeat; }
#motion h2 { background: url('../images/icon-film.png') top left no-repeat; }
#mobile h2 { background: url('../images/icon-phone.png') top left no-repeat; }


/* RECENT WORK/PORTFOLIO */

#recentWork {
	margin-top: 20px;
	overflow: hidden;
}

#portfolio, #portfolio ul#filter,
#portfolio ul#thumbnails {
	overflow: auto;
}

#recentWork h1 {
	background: url('../images/divider.gif') repeat-x center center;
}

#recentWork h1 span {
	background: #fff;
	padding-right: 10px;
}

#portfolio #thumbnails {
	margin: 0;
}

#portfolio #thumbnails > div,
#portfolio #relatedThumbs > div {
	float: left;
	margin-top: 40px;
	margin-right: 11px;
}

/* case study related work fix */

#relatedWork #portfolio #relatedThumbs > div {
	margin-top: 0;
}

#recentWork li,
#portfolio li {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}

#recentWork li.last,
#portfolio #thumbnails > div.last {
	padding: 0;
}

#recentWork li > a,
#portfolio li > a,
#portfolio div > a {
	font-family: 'arial_narrowregular', sans-serif;
	font-size: 14px;
	color: #cccccc;
	text-transform: uppercase;
	font-weight: normal;
}

#recentWork li > a:hover {
	color: #333333 !important;
}

#recentWork li > span {
	display: block;
	margin-bottom: 40px;
	font-style: italic;
}

#portfolio div > span {
	display: block;
	text-transform: capitalize;
}

/* Margin fix for case study page */

#relatedWork #portfolio #relatedThumbs,
#relatedWork #portfolio li > span {
	margin-bottom: 0px;
}


#recentWork .imageWraper,
#portfolio .imageWraper {
	margin-bottom: 5px;
	position: relative;
}

#recentWork .imageWraper a,
#portfolio .imageWraper a {
	width: 300px;
	height: 200px;
	display: block;
}

#recentWork .imageWraper span,
#portfolio .imageWraper span {
	display: block !important;
	width: 300px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

#recentWork .imageWraper a:hover,
#portfolio .imageWraper a:hover {
	border-color: #aaa;
}

/* Filter */

#portfolio ul#filter {
	margin-bottom: 0px;
}



/* ABOUT + TESTIMONIALS */

#aboutTestimonials {
	margin-top: 40px;
	overflow: hidden;
}

#aboutTestimonials h1 {
	background: url('../images/divider.gif') repeat-x center center;
}

#aboutTestimonials h1 span {
	background: #fff;
	padding-right: 10px;
}


/* Testimonials */

.testimonialWraper .testimonial {
	border: 1px solid #ddd;
	padding: 20px;
	position: relative;
	box-shadow: 3px 3px 3px #eee;
}

.testimonialWraper .testimonial:after{
	content: "";
	width: 35px;
	height: 34px;
	background: url('../images/bubble-arrow.jpg');
	position: absolute;
	bottom: -34px;
}

.testimonialWraper .testimonial p {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	line-height: 1.5;
	position: relative;
	margin: 0;
}

.testimonialWraper .testimonial p:before {
	content: open-quote;
	font-size: 72px;
	float: left;
	margin-right: 15px;
	display: block;
	float: left;
	margin-top: -24px;
	height: 30px;
}

.testimonialWraper .testifier {
	margin: 10px 0px 0px 63px;
}

.testimonialWraper .testifier p:first-child {
	font-size: 17px;
	font-family: Georgia, serif;
}

.testimonialWraper .testifier p {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
}



/* TWITTER FEED */

#tweet {
	background: url('../images/twitter-big.png') top left no-repeat;
	height: 46px;
	margin-bottom: 40px;
	padding-left: 82px;
}

#twitter_update_list {
	margin: 0;
	height: 46px;
	line-height: 46px;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
}

#twitter_update_list li {
	line-height: 22px;
}

#twitter_update_list li > a {
	font-style: normal;
}





/* ALL OTHER PAGES STYLES */

/* Global Styles */

#pageHeader {
	height: 100px;
	line-height: 100px;
	margin-bottom: 40px;
}

#pageHeader #pageTitle {
	height: 100px;
}

#pageHeader #pageTitle h1 {
	line-height: 100px;
	margin: 0;
}

#pageHeader #pageTitle h1 span,
#pageHeader #pageTitle h1 span a {
	color: #666;
}

#pageHeader #topSearch input {
	width: 270px;
	padding: 12px 15px;
	border: 1px solid #111;
	border: 1px solid rgba(0,0,0,0.2);
	background: #f9f9f9;
	color: #666;
}


/* CASE STUDY */

#caseStudy {
	overflow: auto;
}

#caseStudy #largeImage img {
	border: 1px solid #ddd;
	padding: 10px;
	width: 600px;
	height: auto
}

#caseStudy #moreShots li {
	float: left;
}

#caseStudy #moreShots img {
	border: 1px solid #ddd;
	padding: 5px;
	margin-right: 14px;
	margin-bottom: 15px;
}

#caseStudy #moreShots a:hover > img {
	border-color: #aaa;
}

#caseStudy #itemDesc {
	margin-top: 15px;
}

#relatedWork {
	margin-top: 60px;
}

#casePagination {
	margin-top: 40px;
	border-top: 1px solid #ddd;
	padding-top: 40px;
	overflow: hidden;
}

#casePagination #prev,
#casePagination #next {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
}

#casePagination #prev { float: left;}
#casePagination #next { float: right;}



/* ABOUT US/SERVICES */

#aboutUs #intro p,
#services #intro p {
	font-size: 24px;
	font-family: Georgia, serif;
	font-style: italic;
	margin-bottom: 0;
}



/* 404 */

#pageNotFound section {
	text-align: center;
	margin-top: 20px;
}

#pageNotFound h2 {
	margin-bottom: 0;
}



/* CONTACT */

#contact #contactInfo ul {
	margin-bottom: 0px;
}

#contact #contactInfo li {
	padding-left: 24px;
	margin-bottom: 5px;
}

#contact #contactInfo #address { background: url('../images/icon-house.png') center left no-repeat}
#contact #contactInfo #phone { background: url('../images/icon-phone2.png') center left no-repeat}
#contact #contactInfo #skype { background: url('../images/icon-skype2.png') center left no-repeat}
#contact #contactInfo #vcard { background: url('../images/icon-vcard.png') center left no-repeat}

#map iframe {
	padding: 10px;
	border: 1px solid #ddd;
}

#contact input[type=text],
#contact textarea,
.wpcf7-form .wpcf7-text,
.wpcf7-textarea {
	width: 270px;
	padding: 3px 5px 1px 5px;
	border: 1px solid #111;
	border: 1px solid rgba(0,0,0,0.2);
	background: #f9f9f9;
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#contact textarea,
.wpcf7-textarea {
	width: 415px;
}


/* Validation styles */

#contactForm input.error,
#contactForm textarea.error {
	background: #F8DBDB;
	border-color: #E77776;
	color: #E77776;
}

#contactForm span.errorAlert {
	display: block;
	margin-top: 10px;
	font-style: italic;
	color: #E46C6E;
}




/* BLOG */

#blog {
	overflow: hidden;
}

.blogPost {
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin: 0 20px 20px 20px;
}

.blogPost#singleblogpost {
	margin: 30px 0;
}

/* remove border in pages */
#page .blogPost {
	border-bottom: none;
}

.blogPost .post-thumbnail img {
	margin-bottom: 0;
	width: 200px;
}

.blogPost .small-thm img,
.post-thumbnail img {
	width: 200px;
	height: 140px;
	float: left;
	margin-right: 20px;
}

#meetteam .blogPost .small-thm img {
	height: auto;
}

#servicesthumbs .post-thumbnail img {
  width: 220px;
  height: 150px;
  margin-bottom: 20px;
}

#servicesthumbs.bathroomsales .post-thumbnail img {
  height: 330px;
}

#servicesthumbs {
  margin-left: 20px;
}

#leftservices {
  width: 200px;
  margin-right: 20px;
  float: left;
}

#leftservices .post-thumbnail img {
  margin-bottom: 10px;
  height: auto;
}

#rightservices {
  margin-left: 220px;
}

.excerpt,
.post-content {
margin-left: 220px;
}

#pageintro {
  margin-left: 20px;
}

#pageintrocentered {
  margin-left: 20px;
}

.blogPost article.post .post-meta h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.blogPost .post-title {
	margin-bottom: 5px;
	font-size: 24px;
}

.blogPost .by-meta {
	display: block;
	margin-bottom: 10px !important;
}

.readmore {
  font-size: 10px;
  text-transform: uppercase;
}

.price {
  width: 120px;
  float: left;
}

#investmentswanted .price {
  width: auto;
  margin-right: 20px;
}

.excerpt p {
margin-bottom: 0;
}

/* Styles for list in content */

#content ul,
.one_third ul,
#pageintro ul,
.blogPost .excerpt ul {
	margin-left: 15px;
	padding-left: 0;
	list-style-type: disc;
	list-style-position: outside;
}

#content ol {
	margin-left: 20px;
	list-style-type: decimal;
}

/* Wordpress Defaults */


/* Sticky posts */
.sticky {
	/* add your styles here */
}

/* Gallery Caption */
.gallery-caption {
	/* Add your styles here */
}

.wp-caption {
	/* Add your styles here */
}

.wp-caption-text {
	font-size: 90%;
	font-style: italic;
}

/* Pagination */

#pagination #prev,
#pagination #next {
	float: left;
	line-height: 20px;
	margin-left: 20px;
}

.wp-pagenavi a {
	text-align: center;
	font-size: 13px;
	border: 1px solid #fff !important;
}

.wp-pagenavi .current,
.wp-pagenavi .pages {
	background: #ddd !important;
	border: 1px solid #ddd !important;
	font-weight: normal !important;
}

.wp-pagenavi a:hover {
	border: 1px solid #ddd !important;
	text-decoration: none;
	font-size: 13px;
}


/* Single Post */

.singlePost {
	padding-bottom: 30px;
	margin-bottom: 0px;
}

.singlePost .post .post-meta {
	width: 220px;
	float: left;
	margin-right: 20px;
}

/* post Author */

#post-author {
	margin: 20px auto 0px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

#page #post-author {
	margin: 0px auto 40px;
}

#page #post-author .avatar {
	width: 100px;
}

#post-author .author-desc {
	margin-left: 60px;
}

#page #post-author .author-desc {
	margin-left: 110px;
}


/* Comments */

#allComments #commentsHeader {
	overflow: auto;
	height: 100px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}

/* add top border in pages */
#page #allComments #commentsHeader {
	border-top: 1px solid #ddd;
	margin-top: 60px;
}

#allComments #commentsHeader h2 {
	display: inline;
	margin: 0;
	line-height: 100px;
}

#allComments #addComment {
	float: right;
	line-height: 100px;
}

#comments {
	margin-bottom: 0;
	overflow: auto;
}

#comments .comment {
	margin-bottom: 30px;
}

#post-author .avatar,
#comments .avatar {
	width: 50px;
	float: left;
	margin-right: 10px;
}

#comments .commentContent {
	margin-left: 60px;
	border-bottom: 1px solid #ddd;
}

#comments .commentContent p {
	margin-bottom: 15px;
}

#comments .commentContent .author {
	font-weight: bold;
}

#comments .commentContent span.date {
	font-size: 12px;
	color: #777;
	font-style: italic;
}

/* Child Comments */

#comments .children {
	margin-left: 60px;
	list-style: none;
}

/* By Post Author */

#comments .bypostauthor {
	padding-left: 5px;
}


/* reply */

#respond {
	margin-top: 30px;
}

#respond label {
	width: 75px;
	padding: 12px 15px;
	display: block;
	float: left;
}

#respond p span {
	padding-right: 10px;
}

#respond .comment-form-url label {
	margin-right: 15px;
}

#respond fieldset {
	margin-bottom: 0;
}

#respond input[type=text],
#respond textarea {
	width: 270px;
	padding: 12px 15px;
	border: 1px solid #111;
	border: 1px solid rgba(0,0,0,0.2);
	background: #f9f9f9;
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#respond textarea {
	width: 590px;
}



/* all other Page */

#page {
	overflow: hidden;
}



/* SIDEBAR */

#sidebar h3 {
	background: url('../images/divider.gif') repeat-x center center;
	margin-bottom: 20px;
}

#sidebar ul {
	list-style: none;
}

#sidebar h3 span {
	background: #fff;
	padding-right: 10px;
}

#sidebar .widget-container {
	margin-bottom: 50px;
}

#sidebar .widget-container:last-child {
	margin-bottom: 0px;
}

#sidebar .widget-container ul,
#sidebar .widget-container p {
	margin-left: 10px;
}

#sidebar .widget-container ul li {
	background: url('../images/list-arrow.png') left center no-repeat;
	padding-left: 12px;
	line-height: 30px;
}

/* tabs */

.tabs,
.tabs .selectors,
.tabs .panel ul {
	overflow: hidden;
	margin-left: 0 !important;
}

.tabs .selectors {
	width: 300px;
}

.tabs .selectors li {
	font-family:  Impact, Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	border: 1px solid #ddd;
	border-left: none;
	float: left;
	text-align: center;
	width: 32%;
}

.tabs .selectors li a {
	color: #333;
	display: block;
	padding: 10px;
	cursor: pointer;
}

.tabs .selectors li:first-child {
	border-left: 1px solid #ddd;
}

.tabs .selectors li.active {
	border-bottom: none !important;
}

.tabs .selectors li.twitter a {
	background: url('../images/icon-twitter2.png') 6px 12px no-repeat;
	padding-left: 30px;	
}

.tabs #tweet {
	background: none;
	padding: 0;
	height: 300px;
}

.tabs #tweet li {
	background: url("images/icon-twitter2.png") no-repeat 0px 3px;
	padding-left: 30px;
}

.clear {
  clear: both;
}

/* FOOTER */

#footerWraper {
	background: url('../images/dark-pattern.jpg') #333;
	margin: 0 auto;
	display: none;
}

footer {
	background: url('../images/foot-arrow.png') top center no-repeat;
	overflow: hidden;
	font-size: 12px;
}

footer > div {
	margin-top: 40px;
}

footer div h4 {
	font-size: 36px;
	color: #eee;
	text-shadow: 2px 2px 0px #000;
	background: url('../images/foot-divider.gif') repeat-x center center;
}

footer div h4 span {
	background: url('../images/dark-pattern.jpg') #333;
	padding-right: 10px;
}

/* Contact */

#footerContact input[type=text], #footerContact textarea {
	width: 335px;
	padding: 12px 18px;
	border: 1px solid #111;
	border: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.12);
	/* Fallback for web browsers that doesn't support RGBa */
	background: #212326;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.15);
	color: #666;
	box-shadow: inset 0px 4px 6px rgba(0,0,0,0.12);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* Popular Posts */

#footerWraper .widget-container .footPost {
	margin-bottom: 30px;
	line-height: 1.5;
}

#footerWraper .widget-container .footPost .footDate {
	background: url('../images/foot-bubble.png') top left no-repeat;
	width: 65px;
	height: 60px;
	line-height: 1;
	float: left;
	margin-right: 15px;
	text-align: center;
	font-family:  Impact, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #ccc;
	padding-top: 3px;
}

#footerWraper .widget-container .footPost .footMeta > a {
	font-family: Georgia, serif;
	font-size: 15px;
	color: #ccc;
}

/* Archive/Categories */

#footerWraper .widget-container li {
	background: url('../images/list-arrow.png') left center no-repeat;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

footer .widget-container {
	list-style: none;
}

#footerWraper .widget-container a {
	color: #666;
}

#footerWraper .widget-container a.button {
	color: #fff;
}

/* Bottom Bar */

#footerBarWraper {
	border-top: 1px solid #111;
	border-top: 1px solid rgba(0,0,0,0.2);
	height: 75px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: #212326;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.15);
	color: #666;
	box-shadow: inset 0px 4px 6px rgba(0,0,0,0.12);
	line-height: 75px;
}

#footerBar {
	overflow: hidden;
}

#footerBar #social ul {
	float: right;
	margin: 0;
	height: 75px;
}

#footerBar #social li {
	float: left;
	margin-right: 10px;
	height: 75px;
	line-height: 75px;
}

#footerBar #social li.twitter a,
#footerBar #social li.facebook a,
#footerBar #social li.vimeo a,
#footerBar #social li.youtube a,
#footerBar #social li.skype a {
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	display: block;
	margin-top: 24px;
}

#footerBar #social li.twitter a { background: url('../images/icon-twitter.png') top center no-repeat; }
#footerBar #social li.facebook a { background: url('../images/icon-facebook.png') top center no-repeat; }
#footerBar #social li.vimeo a { background: url('../images/icon-vimeo.png') top center no-repeat; }
#footerBar #social li.youtube a { background: url('../images/icon-youtube.png') top center no-repeat; }
#footerBar #social li.skype a { background: url('../images/icon-skype.png') top center no-repeat; }

#footerBar #social li.twitter a:hover { background-position: bottom center; }
#footerBar #social li.facebook a:hover { background-position: bottom center; }
#footerBar #social li.vimeo a:hover { background-position: bottom center; }
#footerBar #social li.youtube a:hover { background-position: bottom center; }
#footerBar #social li.skype a:hover { background-position: bottom center; }



/* OTHERS */

/* BUTTOMS */

a.button, input[type=submit] {
	color: #cccccc;
	padding: 0;
	font-size: 14px;
	text-align: center;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 50px;
	margin-bottom: 20px;
	background-color: #000000 !important;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	  -webkit-appearance: none;
}

p.lastbox {
margin-bottom: 10px;
}

.scrollTop {
	box-shadow: none !important;
	position: fixed;
	top: 0px;
	right: 20px;
}

.button:hover, input[type=submit]:hover {
	color: #333333;
	text-decoration: none;
	-webkit-appearance: none;
}

.wpcf7-form a.button,
.wpcf7-form a.button cufon canvas,
.wpcf7-form cufontext {
  background-color: #000000;
	margin: 0;
	padding: 0;
}

a.green, .green { background: #99d340; color: #333 !important; }
a.red, .red { background: #bc0f14; color: #fff !important; }
a.black, .black { background: #333; color: #fff !important; }
a.white, .white { background: #fff; color: #333 !important; border: 1px solid #ddd; }
a.yellow, .yellow { background: #efdd10 ; color: #333 !important; }


/* IMAGES */
.img,
.imgLeft,
.imgRight,
.imgCenter {
	border: 1px solid #ddd;
	padding: 10px;
}

.imgLeft,
.alignleft { float: left; margin-right: 20px; }
.imgRight,
.alignright { float: right; margin-left: 20px; }
.imgCenter {
	width: 100%;
	height: auto;
	margin: 0px auto;
	margin-bottom: 20px;
}

.aligncenter {
	margin: 0px auto;
}



/* LISTS */


ul.arrow li,
ul.checklist li,
ul.doc li {
	height: 30px;
	line-height: 30px;
}

/* Arrow */

ul.arrow li {
	background: url('../images/list-arrow.png') left center no-repeat;
	padding-left: 12px;
}

/* Checklist */

ul.check li {
	background: url('../images/list-check.png') left center no-repeat;
	padding-left:  16px;
}

/* Document */

ul.doc li {
	background: url('../images/list-doc.png') left center no-repeat;
	padding-left: 24px;
}


/* DIVIDERS */

.pageDivider {
	border-bottom: 1px solid #ddd;
	height: 1px;
	width: 100%;
	display: block;
	margin: 0px auto 60px;
	clear: both;
	padding-top: 40px;
}

.divider {
	border-bottom: 1px solid #ddd;
	height: 1px;
	width: 100%;
	display: block;
}


/* QUOTES */

/* Normal */
blockquote {
	background: #f9f9f9;
	padding: 20px 20px 20px 80px;
	position: relative;
	margin-bottom: 40px;
}

blockquote:before {
	content: open-quote;
	position: absolute;
	left: 10px;
	top: -15px;
	font-size: 120px;
}

blockquote,
blockquote p {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
}

blockquote p {
	margin: 0px;
}

/* Pull Left */

.quoteLeft {
	background: #f9f9f9;
	padding: 20px;
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	width: 250px;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
}

.quoteRight {
	background: #f9f9f9;
	padding: 20px;
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
	float: right;
	width: 250px;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
}


/* PRE/CODE */

code, pre {
	text-align: left;
	border: 1px solid #ddd;
	padding: 10px;
	background: #f9f9f9;
	overflow: auto;
}



/* DROPCAPS */

.dropcap {
	color: #4C4C4C;
    display: block;
    float: left;
    font-size: 40px;
    line-height: 30px;
    margin: 10px 10px 0 0;
}



/* COLLUMSN */

.one_half,
.one_third,
.one_fourth,
.two_third,
.three_fourth {
	float: left;
	margin-right: 4%;
	margin-bottom: 30px;
	position: relative;
	overflow: auto;
}

.one_half {
margin-right: 20px;
margin-left: 20px;
margin-bottom: 0;
}

.one_third {
margin-left: 20px;
margin-right: 9px;
}

.last {
	margin-right: 0 !important;
}

.one_half {	width: 450px; }
.one_third { width: 294px; }
.one_fourth { width: 22%; }
.two_third { width: 65.34%; }
.three_fourth { width: 74%; }

/* Alert Boxes */

.alert {
    height: 100%;
    line-height: 1.5;
    margin: 10px auto;
    padding: 15px 15px 15px 35px;
    border-radius: 5px;
}

.message {
    background: url('../images/message.png') 10px 15px no-repeat #ffffff;
    border: 1px solid #ddd;
}

.note {
    background: url('../images/note.png') 10px 15px no-repeat #FDEBAE;
    border: 1px solid #E5C455;
    color: #A5660B;
}

.info {
    background: url('../images/info.png') 10px 15px no-repeat #BFE4F9;
    border: 1px solid #68A2CF;
    color: #2E6093;
}

.success {
    background: url('../images/success.png') 10px 15px no-repeat #DEE3AB;
    border: 1px solid #A3C159;
    color: #5D6F33;
}

.warning {
    background: url('../images/x.png') 10px 15px no-repeat #FFCCCC;
    border: 1px solid #FF9999;
    color: #C31A24;
}


a.enquiry {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
}

.tel {
  float: left;
  min-width: 20px;
}

.fb {
margin-right: 10px;
}

#homeflash {
  float: right;
  margin-top: -40px;
}

#whatflash {
  margin-left: 25px;
  margin-top: -45px;
}

span.wpcf7-list-item {
    margin-left: 0 !important;
    padding-left: 0;
}

input, select {
    vertical-align: middle;
    margin-left: 0;
}

#meetteam .mr_social_sharing_wrapper {
  display: none;
}

.excerpt .mr_social_sharing_top {
  margin-top: 20px;
  margin-bottom: 15px;
}

.postcontent .div.mr_social_sharing_wrapper,
.postcontent span.mr_social_sharing_top {
  margin-bottom: 0;
} 

#optin {
  margin: 20px 0;
}