/* Complimentary styling for missing javascript */

/* In case javascript is disable we still want our custom font */

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6,
header nav#main li a,
.footPost .footDate,
.button, input[type="submit"],
.tabs .selectors li a {
	font-family: 'League Gothic', Impact,Arial,sans-serif;
}

/* NAV DROPDOWN */

header nav#main li:hover > ul {
	display: block;
}


/* RECENT WORK */

#recentWork li,
#portfolio #thumbnails > div {
    margin-right: 11px;
}

#recentWork .imageWraper a:hover > span,
#portfolio .imageWraper a:hover > span {
	opacity: 0.6;
}