
/* TYPOGRAPHY */
/* ----------------------------------------- */

a { text-decoration: none;}
a:hover { text-decoration: underline;}
a:focus{ outline:0px dotted invert; }
hr{ border:0;background:url('../images/hr.jpg');margin:0;padding:0;height:2px; }
h1{ font-size:36px; }
h2{ font-size:30px; }
h3{ font-size:27px; }
h4{ font-size:25px; }
h5{ font-size:22px; }
h6{ font-size:19px; }

em {
	font-style: italic;
	font-size: 1.1em;
}

strong { font-weight: bold;}

p,dl,hr,ol,ul,pre,table,address,fieldset,code{ margin-bottom: 20px;}

h1,h2,h3,h4,h5,h6{ 
  font-family:  'arial_narrowregular', sans-serif;
	color: #cccccc;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 30px;
	text-transform: uppercase;
}

h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

h2 {
margin-top: 30px;
}

p a {
  text-decoration: underline;
}

/* Title Headings */

.heading {
	text-shadow: 3px 3px 0px rgba(0,0,0,0.15);
}