span.mr_social_sharing_top  {
margin-right: 14px;
margin-bottom: 20px;
}

.twitter-share-button,
span.IN-widget {
margin-top:2px;
}

.mr_social_sharing a.linksalpha_link {
display: none !important;
}