/*
Theme Name: inLEAGUE
Theme URI: http://preview.amayamedia.com/inLEAGUE/blue/
Description: inLEAGUE is a simple and clean minimalistic HTML5 /CSS3 theme that you can use for your portfolio. Its also great for a blog or creative agency as well. It features responsive design so you can get your content to the desktop, tablet or mobile.
Author: Rene Merino
Author URI: http://amayamedia.com
Version: 1.0
License: GNU General Public License
License URI: /Lisence/
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments,  translation-ready, custom-menu.
*/

@import "css/reset.css";
@import "css/typography.css";
@import "css/960.css";
@import "css/ie.css";
@import "css/layout.css";
@import "noscript.css";
@import "css/transitions.css";

h1 {
	font-size: 30px;
	margin-top: 30px;
}